<h1 class="mb-3">My tasks</h1>

<% @tasks.each do |task| %>
  <div class="shadow-sm rounded px-4 py-3 mb-2 border d-flex">
    <input class="d-flex form-check-input me-1" type="checkbox"
      <%= task.completed ? "checked" : "" %>
    >
    <div class="title">
    <%= link_to task.title,
      task_path(task)
    %>
    </div>
  </div>
<% end %>
