// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.pos-abs-top-right{
  position:absolute;
  top: 8px;
  right: 16px;
}